<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="serviceDefaultMovie" class="com.mycompany.dvdstore.service.DefaultMovieService">
		<property name="movieRepositoryInterface" ref="movieRepositoryInterface_" />
	</bean>
	
	<bean class="com.mycompany.dvdstore.controller.MovieController">
		<property name="movieService" ref="serviceDefaultMovie"/>
	</bean>
	
	
	<bean id="movieRepositoryInterface_" class="com.mycompany.dvdstore.repository.FileMovieRepository" >
		<property name="file" value="movies.csv"/>
	</bean>


</beans>